// Place all the styles related to the Infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.general{

  background-image: linear-gradient(176deg, #6ad7c595 1%, #2a917484 25% , #21212629 80%);
  height: 450px;
  display: flex;
  flex-direction: column;

  .speach{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    h3 {
      width: 55%;
      text-align: justify;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
    }
  }

  .nav-bar{

    ul {
      list-style-type: none;
      padding: 0;
      margin: 35px;
      margin-left: 53px;
      display: inline-flex;
    }

    .nav-li a {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      text-decoration: none;
      margin-right: 5px;
      margin-left: 5px;
      opacity: 50%;
      &:hover{
        opacity: 100%;
      }
    }

    li {
      border-right: 1px solid #FFFFFF;
      margin-right: 2px;
      margin-left: 2px;
    }

    .nav-logo a {
      text-decoration: none;
      opacity: 50%;

      &:hover{
        opacity: 100%;
      }
    }

    .home_logo {
      height: 15px;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    .profile-picture-pages{
      display: none;
      ~ .hello {
        display: none;
      }
    }

    .profile-picture-small{
      width: 15%;
      border-radius: 50%;
      position: absolute;
      left: 40%;
      top: 95px;
    }

    .speach{
      margin-top: 85px;
      h3 {
        width: 70%;
        text-align: justify;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
      }
    }

    .general2{
      align-items:center;
      flex-direction: column;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .profile-picture-small{
      display: none;
    }
    .profile-picture-pages{
      width: 50px;
      border-radius: 50%;
      position: absolute;
      left: 85%;
      margin: 35px;
      opacity: 40%;

      &:hover{
        opacity: 100%;
      }

      ~ .hello {
        display: none; /* Initially hide the text */
        position: absolute;
        left: 84%;
        top: 40px;
      }

      &:hover ~ .hello {
        display: block; /* Display the text when the icon is hovered */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
      }
    }
  }
  @media (min-width: 1024px) {
    .profile-picture-small{
      display: none;
    }
    .profile-picture-pages{
      width: 50px;
      border-radius: 50%;
      position: absolute;
      left: 85%;
      margin: 35px;
      opacity: 40%;

      &:hover{
        opacity: 100%;
      }

      ~ .hello { /* The adjacent sibling combinator selects the next sibling with class .text */
        display: none; /* Initially hide the text */
        position: absolute;
        left: 84%;
        top: 40px;
      }

      &:hover ~ .hello {
        display: block; /* Display the text when the icon is hovered */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
      }
    }
  }

  .general2{
    display: flex;
    justify-content: space-evenly;

    ul{
      list-style-type: none;
      align-items: center;
    }

    li{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 3px;
      margin-top: 3px;
      padding-top: 2px;
    padding-bottom: 2px;
    }

    h4{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
    }

  }

  .general-info{
    margin-top: 100px;
    margin-left: 5%;
    padding-right: 12%;
    border-right: 1px solid white;
    align-items: center;

    @media (max-width: 768px){
      border-right:none;
      margin-top: 50px;
      padding-right: 0px;
      margin-left: 5%;
      margin-right: 5%;
    }

    i{
      margin-right: 25px;
      color: #FFFFFF;
      fill: 1;
      font-weight: 300;
      font-optical-sizing: 24;
    }

    .skill {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .original-bar{
      background-color: #ccc;
      height: 10px;
      width: 100%;
    }
    .loading-bar {
      background-color: #2a9174;
      height: 10px;
      width: 100%;
      animation: fillBar 4s ease-in-out forwards;
    }

    .loading-bar-50{
      background-color: #2a9174;
      height: 10px;
      width: 50%;
      animation: fillBar50 4s ease-in-out forwards;
    }

    .loading-bar-90{
      background-color: #2a9174;
      height: 10px;
      width: 90%;
      animation: fillBar90 4s ease-in-out forwards;
    }

    .loading-bar-80{
      background-color: #2a9174;
      height: 10px;
      width: 80%;
      animation: fillBar80 4s ease-in-out forwards;
    }

    .loading-bar-75{
      background-color: #2a9174;
      height: 10px;
      width: 75%;
      animation: fillBar75 4s ease-in-out forwards;
    }

    @keyframes fillBar {
      0% {
        width: 0;
        background-color: #ccc;
      }
      100% {
        width: 100%;
        background-color: #2a9174;
      }
    }

    @keyframes fillBar50 {
      0% {
        width: 0;
        background-color: #ccc;
      }
      100% {
        width: 50%;
        background-color: #2a9174;
      }
    }

    @keyframes fillBar90 {
      0% {
        width: 0;
        background-color: #ccc;
      }
      100% {
        width: 90%;
        background-color: #2a9174;
      }
    }

    @keyframes fillBar80 {
      0% {
        width: 0;
        background-color: #ccc;
      }
      100% {
        width: 80%;
        background-color: #2a9174;
      }
    }

    @keyframes fillBar75 {
      0% {
        width: 0;
        background-color: #ccc;
      }
      100% {
        width: 75%;
        background-color: #2a9174;
      }
    }

    .skill-name {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    .small-icon{
      width: 22px;
      margin-right: 25px;
      filter: invert(100%) grayscale(100%);
    }

  }

  .general-edu{
    margin-top: 100px;
    margin-right: 5%;

    @media (max-width: 768px){
      margin-top: 50px;
      margin-left: 5%;
      margin-right: 5%;
    }

    h3{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 13.5px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
    }

    .dash{
      border-bottom: 1px solid white;
    }
  }
}
